*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: #e8e6e7;
}

header{
    padding: 20px 70px;
    background: #1d1d1f;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 50px;
}